        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="index.html" class="navbar-brand p-0 d-flex align-items-center" style="white-space: normal;">
                <img class="me-3" src="img/logo-pj.png" alt="Image" style="width: 50px;height: auto;flex-shrink: 0;">
				<h1 class="m-0 responsive-title">
					<span class="d-none d-lg-inline">
                    <b>M&oacute;dulo Corporativo Contencioso Administrativo<br>Laboral y Previsional</b>
                	</span>
	                <span class="d-inline d-lg-none">
	                    <b>MCCALP</b>
	                </span>
            	</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="index.html" class="nav-item nav-link">Inicio</a>
                    <a href="datos-abiertos.html" class="nav-item nav-link">Datos Abiertos</a>
					<a href="estadisticas.html" class="nav-item nav-link">Estad&iacute;sticas</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Recursos</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="multimedia.html" class="dropdown-item">Multimedia</a>
                            <a href="blog.html" class="dropdown-item">Blog</a>
                        </div>
                    </div>
                    <a href="contacto.html" class="nav-item nav-link">Cont&aacute;ctanos</a>
                </div>
                <butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal" hidden><i class="fa fa-search"></i></butaton>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=mccalp_csjtacna@pj.gob.pe&su=Asunto&body=Cuerpo+del+mensaje" class="btn btn-primary py-2 px-4 ms-3"><i class="fa fa-envelope me-2"></i>Escr&iacute;benos</a>
            </div>
        </nav>
