    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>Av. Municipal S/N, Tacna, Per&uacute;</small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+51 970806757</small>
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i>mccalp_csjtacna@pj.gob.pe</small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.facebook.com/share/1BMudf7CEK/"><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.tiktok.com/@corte.superior.tacna"><svg style="width:12px;height:12px;fill:currentColor" viewBox="0 0 448 512"><path d="M448 209.9a210.1 210.1 0 0 1-122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0h88a121 121 0 0 0 1.9 22.2Q331.3 44 345.3 59.8a122.1 122.1 0 0 0 54.2 38.9v111.2z"/></svg></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
